<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload Example</title>
</head>
<body>
    <h1>Image Upload Example</h1>

    <input type="file" id="asd" accept=".png,.jpg" />
    
    <a href="#" onclick="AjaxFileUpload()">Upload</a>


    <script src="./js/bundle.js"></script>


</body>
</html>